.box {
  margin: 150px auto;
  max-width: 500px;
  border: 1px solid #44B6C9; }

button.accordion {
  background-color: #44B6C9;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.5s; }

button.accordion.active {
  background-color: #4DCDE3;
  max-height: 500px; }

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease; }

div.panel.active {
  max-height: 500px; }

div.button.active {
  max-height: 500px; }

button.active {
  max-height: 500px; }

button:hover {
  background: #4DCDE3; }
